/*
bg: #2B2A24; brand: #BDAE7D; cta: #DC7A3B; 
text: #FEF9EC; casete: #2B2200
nunito si amarante
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

* { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    padding: 0; 
    background-color: #2B2A24;
}

.navbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: right;
    color: #FEF9EC;
    background-color: #2B2200;
}

.brand-title {
    font-family: 'Amarante', cursive;
    font-size: 36px;
    margin-left: 24px;
}

.cuv-albastru { color: #002B7F; }
.cuv-galben { color: #FCD116; }
.cuv-rosu { color: #CE1126; }

.navbar-links ul {
    margin-top: 30%;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #FEF9EC;
    padding: 1rem;
    display: block;
    font-size: 24px;
}

.navbar-links li:hover {
    background-color: #DC7A3B;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FEF9EC;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.test-paragraf {
    padding: 0;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #FEF9EC;
}