/*General*******************************************/

@charset "UTF-8";
:root {
    --fundal: #2B2A24; 
    --brand: #BDAE7D; 
    --cta: #DC7A3B;
    --casete: #2B2200; 
    --text: #FEF9EC;
    --albastru: #002B7F; 
    --galben: #FCD116; 
    --rosu: #CE1126;

    --test: clamp(1.618rem, 3vw, 4.236rem);

    --size-title: clamp(2.618rem, 8vw, 6.854rem);
    --size-high: clamp(2.618rem, 8vw, 4.236rem);
    --size-medium: camp(1.618rem, 8vw, 2.618rem);
    --size-low: clamp(1rem, 8vw, 1.618rem)
}

.h1, h1 { font-size: 6.854rem; color: var(--text); line-height: 7rem; margin: 0; padding: 0; }
.h2, h2 { font-size: 4.236rem; color: var(--text); line-height: 5rem; }
.h3, h3 { font-size: 2.618rem; color: var(--text); line-height: 3rem; }
.h4, h4 { font-size: 1.618rem; color: var(--text); line-height: 2rem; }
.p, p { font-size: 1rem; color: var(--text); line-height: 1.5rem; }

@font-face {
	font-family: 'Bitter';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./Bitter-VariableFont_wght.woff2") format("woff2");
}
@font-face {
	font-family: 'Bitter';
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Bold';
	src: url("./Bitter-VariableFont_wght.woff2") format("woff2");
}

/*/ Z-index hierarhy
    1: Content
    2: Item-1
    3: Item-2 to Item-16
    4: Header
*/

*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Bitter', serif; font-size: 16px; line-height: 1.5rem; }

body { display: block; background: var(--fundal); min-height: 100vh; margin: 0; text-rendering: optimizeSpeed; }
/*/Adaug svg in html ca sa ii schimb fill on hover cu prop fill: currentColor;*/
svg { fill: currentColor; } /// :hover { color: var(--cta); fill: var(--cta); }
img, picture { max-width: 100%; display: block; }

input, button, textarea, select { font: inherit; }

strong { font-weight: 900; }

a, .Link { color: var(--brand); text-decoration: none; }
.Link { color: var(--brand); text-decoration: underline; }

.ScreenReaders { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0; }

.WaveStart { transform: rotateX(0deg); }
.WaveEnd { transform: rotateX(180deg); }

.Button { display: block; padding: 0.25rem 1rem; background: var(--fundal); color: var(--cta); font-weight: normal; text-decoration: none; text-align: center; border-radius: 0.4rem; border: 2px solid var(--cta);
	&:hover { background: var(--casete); color: var(--text); }
}

/*Header-and-Footer*********************************/

.Header .Navbar { display: flex; justify-content: space-between; background: var(--casete); position: fixed; top: 0; width: 100%; height: auto; z-index: 4; }

    .Logo { margin: 0; padding: 0; display: none;
        @media (min-width: 1080px) { display: flex; left: 0;justify-content: flex-start; } 
    }
        .LogoH1 { font-size: 2.618rem; line-height: 2em; font-weight: 700; color: var(--text); margin: 0; padding: 0; }
        .Albastru { padding: 0.25rem; border-top: 2px solid var(--albastru); border-bottom: 2px solid var(--albastru); }
        .Galben { padding: 0.25rem; border-top: 2px solid var(--galben); border-bottom: 2px solid var(--galben); }
        .Rosu { padding: 0.25rem; border-top: 2px solid var(--rosu); border-bottom: 2px solid var(--rosu); }
            
    .Menu { height: fit-content; display: flex; width: 100%; padding: 0; margin: 0; margin-top: auto; margin-bottom: auto;
        :hover { color: var(--brand); }
    }
        .List { text-align: center; list-style: none; width: 100%; padding: 0.5rem; margin: 0.15rem; 
            :hover { background: var(--fundal1); }
        }
            .ListLink { display: block; border: 3px solid var(--brand); }
                .ListLinkText { font-size: 1.618rem; color: var(--text); text-decoration: none; }
                .ListLinkIcon { height: 1.5rem; display: none;
                    @media (min-width: 400px) { display: flex; }
                }
                    .ListLinkPost { width: 1.618rem; margin: 0 auto; }
                    .ListLinkHome { width: 1.618rem; margin: 0 auto; }
                    .ListLinkCalendar { width: 1.618rem; margin: 0 auto; }

.Footer { background: var(--casete); width: 100%; height: auto; }
    .ContainerFooter { display: block; 
        @media (min-width: 750px) { display: flex; justify-content: center; }
    }
        .Contact { padding: 0 2rem; }
            .FooterTitle {  }
            .Phone {  }
            .Location {  }
        .FooterLinks { padding: 0 2rem; }
    .ContainerCopyrights {  }
        .Copyrights { text-align: center; }

/*Pagina-Comentarii*********************************/

.ContainerComment { display: flex; flex-direction: column; }
    .CommentTitle { font-size: var(--size-medium); line-height: calc(1.5*var(--size-medium)); width: clamp(18rem, 40vw, 40rem);; }
    .ContainerCommentForm { margin: auto; }
        .CommentField { margin: auto; padding: 1.5rem; font-size: var(--size-low); line-height: calc(1.5*var(--size-low)); height: 16rem; width: clamp(18rem, 40vw, 40rem); color: var(--text); resize: none; background: var(--casete); border: none; border-radius: 1rem; }
    .CommentButton { margin: auto; }

/*Pagina-Calendar***********************************/

.Description {  }
    .Title { font-size: var(--size-title); line-height: calc(1.5*var(--size-title)); text-align: center; margin-top: 4rem; }
    .Text { font-size: var(--test); line-height: calc(1.5*var(--test)); font-weight: bold; }

.CalendarSelector { display: flex; justify-content: center; position: relative; }
    select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; outline: 0; box-shadow: none; border: 0!important; background-image: none; background: var(--casete); color: var(--text); padding: 1rem; border-radius: 0.5rem; margin: 0.5rem; cursor: pointer; }
    select::-ms-expand { display: none; }
    select::after { background: var(--cta); }

.Calendar { margin: clamp(1rem, 2vw, 5rem); font-size: clamp(1rem, 4vw, 2.618rem); color: var(--text); text-align: center; 
    @media(min-width: 1210px) { display: flex; flex-direction: column; justify-content: center; align-items: center; }
}
    .Line {  }
    .WeekLine { color: var(--brand); display: flex; }
        .Week { width: calc(4*clamp(1rem, 4vw, 2.618rem)); height: 4.236rem; }
    .DayLine { display: flex; }
        .Day { width: calc(4*clamp(1rem, 4vw, 2.618rem)); height: 4.236rem; }

.SelectedEvent { margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; }
    .TitleSecondary { font-size: clamp(1.618rem, 5vw, 2.618rem); }
    .DescriptionSecondary { margin: 1rem; }
    .EventContainer { max-width: 30rem; list-style: none; margin-bottom: 1.5rem; background: var(--casete); padding: 1rem; border-radius: 0.5rem; line-height: 1.5rem; }
        .EventHeader { display: flex; display: flex; justify-content: space-between; }
            .EventTitle { margin: 0; padding: 0; }
                .EventCheck { display: flex; }
                    .CheckBox {  }
                    .CheckName { font-size: 1rem; color: var(--text); display: none; 
                        @media(min-width: 350px) { display: block; }
                        @media(min-width: 750px) { display: flex; }
                    }
                .Checked {  }
        .EventContent { padding: 1rem; background: var(--fundal); pad: 1rem; border-radius: 0.5rem; line-height: 1.5rem; }
            .EventDescription { font-size: 1rem; color: var(--text); }
            .EventDetails {  }
                .People .Location .Date {  }
                    .DescriptionIcon {  }
                    .DescriptionText {  }

.OtherEvent { font-size: clamp(1.618rem, 4vw, 2.618rem); display: flex; flex-direction: column; justify-content: center; align-items: center; }

/*Pagina-Acasa**************************************/

.Content { z-index: 1; padding-top: 100px; }
    .HeroSection { display: block;
    @media (min-width: 1440px) { display: flex; align-items: center; }
    }
        /*/Mobile View*/
        .LogoMobile { text-align: center; line-height: calc(1.5*var(--size-title)); 
        @media (min-width: 1080px) { display: none; }
        } 
            .LogoMobileText1 { color: var(--albastru); font-size: var(--size-title); -webkit-text-stroke: 0.4 var(--casete); font-size: var(--size-title); }
            .LogoMobileText2 { color: var(--galben); font-size: var(--size-title); -webkit-text-stroke: 0.4px var(--casete); }
            .LogoMobileText3 { color: var(--rosu);  font-size: var(--size-title); -webkit-text-stroke: 0.4px var(--casete); }
        .Description { padding: 1rem; line-height: 2.618rem; font-weight: 400; color: var(--text); font-size: 1.618rem;
        @media (min-width: 1440px) { padding-left: 2rem; }
        }
            .DescriptionParagraph {  }
        /*/Desktop View*/
        .HeroSectionColumn {  
            @media (min-width: 1440px) { float: left; width: 50%; }
        }
    
    .Carousel { height: 222px; width: 333px; position: relative; margin: 0 4rem; display: flex; align-items: center; justify-content: center;
        @media (min-width: 750px) {
            height: 333px; width: 555px;
        }
        @media (min-width: 1440px) { margin: 0 8rem; }
    }
        .CarouselItem { position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 25px 50px; opacity: 0; transition: all 0.5s ease; }
            .Arrow { font-size: 1.618rem; color: var(--cta); padding: 1rem; background: var(--casete); border-radius: 4rem; 
                @media (min-width: 750px) { padding: 30% 1rem; font-size: 4.236rem; }
            }
            .ArrowPrev { left: 1rem; position: absolute; top: 50%; transform: translateY(-50%) rotate(180deg); 
                @media (min-width: 750px) { left: -4.5rem; }
            }
            .ArrowNext { right: 1rem; position: absolute; top: 50%; transform: translateY(-50%) rotate(0deg); 
                @media (min-width: 750px) { right: -4.5rem; }
            }
        [id^= "item"] { display: none; }
        .Item-1 { z-index: 2; opacity: 1; background: url('./p/1.webp'); 
            @media (min-width: 750px) { background: url('./d/1.webp'); }
        }
        .Item-2 { background: url('./p/2.webp'); 
            @media (min-width: 750px) { background: url('./d/2.webp'); }
        }
        .Item-3 { background: url('./p/3.webp'); 
            @media (min-width: 750px) { background: url('./d/3.webp'); }
        }
        .Item-4 { background: url('./p/4.webp'); 
            @media (min-width: 750px) { background: url('./d/4.webp'); }    
        }
        .Item-5 { background: url('./p/5.webp');
            @media (min-width: 750px) { background: url('./d/5.webp'); }
        }
        .Item-6 { background: url('./p/5.webp'); 
            @media (min-width: 750px) { background: url('./d/6.webp'); }
        }
        .Item-7 { background: url('./p/7.webp'); 
            @media (min-width: 750px) { background: url('./d/7.webp'); }
        }
        .Item-8 { background: url('./p/8.webp'); 
            @media (min-width: 750px) { background: url('./d/8.webp'); }
        }
        .Item-9 { background: url('./p/9.webp'); 
            @media (min-width: 750px) { background: url('./d/9.webp'); }
        }
        .Item-10 { background: url('./p/10.webp'); 
            @media (min-width: 750px) { background: url('./d/10.webp'); }
        }
        .Item-11 { background: url('./p/11.webp'); 
            @media (min-width: 750px) { background: url('./d/11.webp'); }
        }
        .Item-12 { background: url('./p/12.webp'); 
            @media (min-width: 750px) { background: url('./d/12.webp'); }
        }
        .Item-13 { background: url('./p/13.webp'); 
            @media (min-width: 750px) { background: url('./d/13.webp'); }
        }
        .Item-14 { background: url('./p/14.webp'); 
            @media (min-width: 750px) { background: url('./d/14.webp'); }
        }
        .Item-15 { background: url('./p/15.webp'); 
            @media (min-width: 750px) { background: url('./d/15.webp'); }
        }
        .Item-16 { background: url('./p/16.webp'); 
            @media (min-width: 750px) { background: url('./d/16.webp'); }
        }
        *:target ~ .Item-1 { opacity: 0; }
        #item-1:target ~ .Item-1 { opacity: 1; }
        #item-2:target ~ .Item-2, #item-3:target ~ .Item-3, #item-4:target ~ .Item-4, #item-5:target ~ .Item-5, #item-6:target ~ .Item-6, #item-7:target ~ .Item-7, #item-8:target ~ .Item-8, #item-9:target ~ .Item-9, #item-10:target ~ .Item-10, #item-11:target ~ .Item-11, #item-12:target ~ .Item-12, #item-13:target ~ .Item-13, #item-14:target ~ .Item-14, #item-15:target ~ .Item-15, #item-16:target ~ .Item-16 { z-index: 3; opacity: 1; }

    #accordion { color: var(--text); margin: 4rem auto; padding: 0; width: 90%; max-width: 30rem; }
        #accordion li { list-style: none; margin-bottom: 1.5rem; background: var(--casete); padding: 1rem; border-radius: 0.5rem; line-height: 1.5rem; }
            .AccordionTitle { font-size: clamp(1.618rem, 6vw, 2.618rem); display: flex; align-items: center; justify-content: space-between; font-weight: 500; line-height: 3rem; cursor: pointer; color: var(--text); }
            .AccordionTitle + input[type="checkbox"] { display: none; }
                .Down { transform: rotate(90deg); font-size: clamp(2.618rem, 16vw, 4.236rem); color: var(--cta); margin: 1rem;
                    :hover { transform: rotate(180deg); }
                }
            .AccordionContent { background: var(--fundal); padding: 0 1.5rem; border-radius: 0.5rem; max-height: 0; overflow: hidden; transition: max-height 0.5s; }
            .AccordionTitle + input[type="checkbox"]:checked + .AccordionContent { max-height: 40rem; }

/*Print*********************************************/

@media (prefers-reduced-motion: reduce) {
    html:focus-within { scroll-behavior: auto; }
    *, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; }
}          
@media print {        
    * { background-image: none; background: white; color: black; }
    @page { margin: 2cm; }
    @page :first { margin-top: 3cm; }
    @page :left { margin-right: 3cm; }
    @page :right { margin-left: 3cm; }
        
    html { background: white; font-size: 12pt; line-height: 1.5em; }
            
    a:link, a:visited { color: #00f; background: transparent; font-weight: bold; }
    a:not([href^="http"]):after { content: " (" attr(href) ")"; font-size: 0.9em; }
    a[href^="/"]:after { content: " (https://dapcred.netlify.app" attr(href) ") "; }
    /*a:not(:local-link):after { content: " (" attr(href) ")»"; }*/
    a:after > img { content: ""; }
            
    body::after { content: "Copyright © Irimia David, toate drepturile rezervate."; display: block; text-align: center; }
            
    .Container { background: transparent; margin: 0; padding: 0; }
            
    h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid }
    h1 + h2 { page-break-before: avoid; }
            
    table, pre, img, svg, blockquote, a { break-inside: avoid; }
            
    ul, ol, dl { page-break-before: avoid; }
            
    .TitlulPaginii { padding-top: 0.5em; }
    .ListaText { display: inline; color: #00f; white-space: normal; text-decoration: underline; }    
}