@charset "UTF-8";
:root {
    --fundal: #2B2A24; --brand: #BDAE7D; --cta: #DC7A3B;
    --casete: #2B2200; --text: #FEF9EC;
    --albastru: #002B7F; --galben: #FCD116; --rosu: #CE1126;
}

.h1, h1 { font-size: 6.854rem; color: var(--text) }
.h2, h2 { font-size: 4.236rem; color: var(--text) }
.h3, h3 { font-size: 2.618rem; color: var(--text) }
.h4, h4 { font-size: 1.618rem; color: var(--text) }
.h5, h5 { font-size: 1.000rem; color: var(--text) }

@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./resources/fonts/Nunito/static/Nunito-Regular.ttf") format("ttf");
}
@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Bold';
	src: url("./resources/fonts/Nunito/static/Nunito-Bold.ttf") format("ttf");
}

*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Nunito', serif; font-size: 16px; line-height: 1.5em; }

body { display: block; background: var(--fundal); min-height: 100vh; margin: 0; text-rendering: optimizeSpeed; }

img, picture { max-width: 100%; display: block; }

input, button, textarea, select { font: inherit; }

strong { font-weight: 900; }

a { color: var(--brand); text-decoration: none; }

.ScreenReaders { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0; }

.WaveStart { transform: rotateX(0deg); }
.WaveEnd { transform: rotateX(180deg); }

/*TODO personalizarea butonului*/
.Button { display: block; padding: 0.5em 1em; background: #627500; color: #fff; font-weight: normal; text-transform: uppercase; text-decoration: none; text-align: center; border-radius: 0.5em;
	&:hover { background: #000; color: #fff; }
}

/***********************************************************************/

.Header { width: 100%; height: auto; }
    .Navbar { display: flex; justify-content: center; background: var(--casete); transition: top 0.4s; position: fixed; top: 0; width: 100%; }

        .Logo { padding: 0; margin: 0; display: none;
            @media (min-width: 1080px) { display: flex; left: 0;justify-content: flex-start; } 
        }
            .LogoH1 { font-size: 2.168rem; font-weight: 700; color: var(--text); }
            .Albastru { padding: 0.25rem; border-top: 2px solid var(--albastru); border-bottom: 2px solid var(--albastru); }
            .Galben { padding: 0.25rem; border-top: 2px solid var(--galben); border-bottom: 2px solid var(--galben); }
            .Rosu { padding: 0.25rem; border-top: 2px solid var(--rosu); border-bottom: 2px solid var(--rosu); }
            
        .Menu { height: fit-content; display: flex; width: 100%; padding: 0; margin: 0; margin-top: auto; margin-bottom: auto;
            :hover { color: var(--brand); }
        }
            .List { text-align: center; list-style: none; width: 100%; padding: 0.5rem; margin: 0.15rem; 
                :hover { background: var(--fundal1); }
            }
                .ListLink { display: block; border: 3px solid var(--brand); }
                    .ListLinkText { font-size: 1.618rem; color: var(--text); }
                    .ListLinkIcon { height: 1.5rem; display: none;
                        @media (min-width: 400px) { display: flex; }
                    }
                        .ListLinkPost { width: 1.618rem; margin: 0 auto; }
                        .ListLinkHome { width: 1.618rem; margin: 0 auto; }
                        .ListLinkCalendar { width: 1.618rem; margin: 0 auto; }

.Content { z-index: -1; padding-top: 100px; }
    .LogoMobile { text-align: center; } 
        .LogoMobileText1 { color: var(--albastru);-webkit-text-stroke: 0.2px var(--text); font-size: clamp(2.618rem, 16vw, 6.854rem); }
        .LogoMobileText2 { color: var(--galben); -webkit-text-stroke: 0.2px var(--text); font-size: clamp(2.618rem, 16vw, 6.854rem); }
        .LogoMobileText3 { color: var(--rosu);  -webkit-text-stroke: 0.2px var(--text); font-size: clamp(2.618rem, 16vw, 6.854rem); }
    /*TODO Personalizarea caruselului */
    .Carousel { height: 222px; width: 333px; position: relative; display: block; margin: 50px auto; 
        @media (min-width: 1080px) {
            height: 333px; width: 555px;
        }
    }
        .CarouselItem { position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 25px 50px; opacity: 0; transition: all 0.5s ease-in-out; }
            .Arrow { border: solid black; border-width: 0 3px 3px 0; display: inline-block; padding: 12px; }
            .ArrowPrev { left: 30px; position: absolute; top: 50%; transform: translateY(-50%); rotate: (135deg); }
            .ArrowNext { right: 30px; position: absolute; top: 50%; transform: translateY(-50%) rotate(-45deg); }
        [id^= "item"] { display: none; }
        .Item-1 { z-index: 2; opacity: 1; background: url('/resources/p/1.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/1.webp'); }
        }
        .Item-2 { background: url('/resources/p/2.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/2.webp'); }
        }
        .Item-3 { background: url('/resources/p/3.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/3.webp'); }
        }
        .Item-4 { background: url('/resources/p/4.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/4.webp'); }    
        }
        .Item-5 { background: url('/resources/p/5.webp');
            @media (min-width: 1080px) { background: url('/resources/d/5.webp'); }
        }
        .Item-6 { background: url('/resources/p/6.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/6.webp'); }
        }
        .Item-7 { background: url('/resources/p/7.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/7.webp'); }
        }
        .Item-8 { background: url('/resources/p/8.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/8.webp'); }
        }
        .Item-9 { background: url('/resources/p/9.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/9.webp'); }
        }
        .Item-10 { background: url('/resources/p/10.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/10.webp'); }
        }
        .Item-11 { background: url('/resources/p/11.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/11.webp'); }
        }
        .Item-12 { background: url('/resources/p/12.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/12.webp'); }
        }
        .Item-13 { background: url('/resources/p/13.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/13.webp'); }
        }
        .Item-14 { background: url('/resources/p/14.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/14.webp'); }
        }
        .Item-15 { background: url('/resources/p/15.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/15.webp'); }
        }
        .Item-16 { background: url('/resources/p/16.webp'); 
            @media (min-width: 1080px) { background: url('/resources/d/16.webp'); }
        }
        *:target ~ .Item-1 { opacity: 0; }
        #item-1:target ~ .Item-1 { opacity: 1; }
        #item-2:target ~ .Item-2, #item-3:target ~ .Item-3, #item-4:target ~ .Item-4, #item-5:target ~ .Item-5, #item-6:target ~ .Item-6, #item-7:target ~ .Item-7, #item-8:target ~ .Item-8, #item-9:target ~ .Item-9, #item-10:target ~ .Item-10, #item-11:target ~ .Item-11, #item-12:target ~ .Item-12, #item-13:target ~ .Item-13, #item-14:target ~ .Item-14, #item-15:target ~ .Item-15, #item-16:target ~ .Item-16 { z-index: 3; opacity: 1; }
.Footer { background: var(--casete); width: 100%; height: 2.618rem; }